@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    List<RestAPI_BookSaw.Entities.Book> allBooks = ViewBag.allBooks;
}


<div class="container">
    <div class="col-md-12">
        <div class="colored">
            <h1 class="page-title" style="margin-top: 10px;">Books</h1>
        </div>
    </div>
</div>

<section class="padding-medium">
    <div class="container">
        <div class="row">
            @if (allBooks != null)
            {
                foreach (var item in allBooks)
                {
                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img name="imgBook" data-id="@item.id" src="@item.image" alt="Books" class="product-item" style="max-height: 392.825px;">
                                <button name="downToLib" type="button" data-id="@item.id" class="add-to-cart" data-product-tile="add-to-cart">Save books to the library</button>
                            </figure>
                            <figcaption>
                                <h3 style="font-family:auto;">@item.title</h3>
                                <p>Adam Silber</p>
                            </figcaption>
                        </div>
                    </div>
                }
            }

        </div>

        <div class="row">
            <nav aria-label="Page navigation" class="mt-5">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $("img[name='imgBook']").click(function () {
        window.location.href = "https://localhost:7177/Books/Information/" + $(this).attr("data-id");
    });
    $("button[name='downToLib']").click(function () {
        $.ajax({
            type: "get",
            url: "/Books/DownToLib",
            data: {
                idClient: 1,
                idBook: $(this).attr("data-id")
            },
            success: function (res) {
                if (res == "True") {
                    Swal.fire({
                        title: "Save Book!",
                        text: "Download to Library success!",
                        icon: "success",
                        showConfirmButton: false,
                        timer: 1200
                    });
                } else {
                    Swal.fire({
                        title: "Save Book!",
                        text: "This book has been downloaded!",
                        showConfirmButton: false,
                        timer: 1200
                    });
                }
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
    });
</script>
